{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace cs2=TYPO3\TemplateGlobal\ViewHelpers}
<f:layout name="Content" />

<f:section name="Configuration">

    <v:variable.set name="icons" value="{
         0:{0:'Add',1:'ion-android-add'},
         1:{0:'Open',1:'ion-android-open'},
         2:{0:'Star',1:'ion-android-star-outline'},
         3:{0:'Watch',1:'ion-android-stopwatch'},
         4:{0:'Camera',1:'ion-ios-camera-outline'},
         5:{0:'Download',1:'ion-ios-download-outline'},
         6:{0:'Search',1:'ion-ios-search'},
         7:{0:'Play',1:'ion-ios-play-outline'}
         }"/>

    <flux:form id="snippetsmaster" label="Snippets Master">
        <flux:field.select label="Effect" name="effect" maxItems="1" size="1" items="{
           0:{0:'Snippets 1001',1:'1001'},
           1:{0:'Snippets 1002',1:'1002'},
           2:{0:'Snippets 1003',1:'1003'},
           3:{0:'Snippets 1004',1:'1004'},
           4:{0:'Snippets 1005',1:'1005'},
           5:{0:'Snippets 1006',1:'1006'},
           6:{0:'Snippets 1007',1:'1007'},
           7:{0:'Snippets 1008',1:'1008'},
           8:{0:'Snippets 1009',1:'1009'},
           9:{0:'Snippets 1010',1:'1010'},
           10:{0:'Snippets 1011',1:'1011'},
           11:{0:'Snippets 1012',1:'1012'},
           12:{0:'Snippets 1013',1:'1013'},
           13:{0:'Snippets 1014',1:'1014'},
           14:{0:'Snippets 1015',1:'1015'},
           15:{0:'Snippets 1016',1:'1016'},
           16:{0:'Snippets 1017',1:'1017'},
           17:{0:'Snippets 1018',1:'1018'},
           18:{0:'Snippets 1019',1:'1019'},
           19:{0:'Snippets 1020',1:'1020'},
           20:{0:'Snippets 1021',1:'1021'},
           21:{0:'Snippets 1022',1:'1022'},
           22:{0:'Snippets 1023',1:'1023'},
           23:{0:'Snippets 1024',1:'1024'},
           24:{0:'Snippets 1025',1:'1025'}
           }" default="1001"/>

        <flux:field.select label="Icon"   name="icon"  maxItems="1" size="1" items="{icons}" default="ion-android-add"/>
        <flux:field.select label="Icon 2" name="icon2" maxItems="1" size="1" items="{icons}" default="ion-android-add"/>
        <flux:field.select label="Icon 3" name="icon3" maxItems="1" size="1" items="{icons}" default="ion-android-add"/>
        <flux:field.input name="title" label="Title" />
        <flux:field.input name="subtitle" label="Sub title" />
        <flux:field.text name="text" label="Text" />
        <flux:field.inline.fal name="image" allowedExtensions="jpg,png" maxItems="1" minItems="1" label="Image"/>
    </flux:form>
</f:section>

<f:section name="Preview">
    <div class="preview-container">
        <p>Snippets</p>
        <f:switch expression="{effect}">
            <f:case value="1001"><p>Simple image hover effect with a single icon fade in.</p></f:case>
            <f:case value="1002"><p>A simple image zoom hover effect with a single icon</p></f:case>
            <f:case value="1003"><p>Simple image hover effect with some icons sliding in from the right</p></f:case>
            <f:case value="1004"><p>Simple image hover effect with some icons from the left.</p></f:case>
            <f:case value="1005"><p>A simple image hover effect with some icons sliding in from the bottom.</p></f:case>
            <f:case value="1006"><p>Image hover effect with a single icon on a bottom left corner overlay.</p></f:case>
            <f:case value="1007"><p>Image hover effect with a single icon on a bottom right corner overlay.</p></f:case>
            <f:case value="1008"><p>Image with horizontal expanding lines displaying single icon on hover.</p></f:case>
            <f:case value="1009"><p>Image with vertical expanding lines displaying a single icon on hover.</p></f:case>
            <f:case value="1010"><p>Image with rotating right expanding lines displaying single icon on hover.</p></f:case>
            <f:case value="1011"><p>Image with rotating left expanding lines displaying single icon on hover.</p></f:case>
            <f:case value="1012"><p>Image with horizontal expanding lines displaying multiple icons on hover.</p></f:case>
            <f:case value="1013"><p>Image with vertical expanding lines displaying multiple icons on hover.</p></f:case>
            <f:case value="1014"><p>Image hover effect. Expanding vertical lines to display title and description.</p></f:case>
            <f:case value="1015"><p>Image hover effect. Expanding horizontal lines to display title and description.</p></f:case>
            <f:case value="1016"><p>Image hover effect. Sliding line to the left to display title and description.</p></f:case>
            <f:case value="1017"><p>Image hover effect. Sliding line to the right to display title and description.</p></f:case>
            <f:case value="1018"><p>Image hover effect with expanding horizontal line to produce title and description text</p></f:case>
            <f:case value="1019"><p>Image hover effect with expanding vertical line to produce title and description text</p></f:case>
            <f:case value="1020"><p>Image hover effect. A horizontal line expanding out to display title and description in a book styling format with page curl.</p></f:case>
            <f:case value="1021"><p>Image hover effect. A vertical line expanding out to display title and description in a book styling format with page curl.</p></f:case>
            <f:case value="1022"><p>Simple image hover effect with bottom right page curl displaying a single icon</p></f:case>
            <f:case value="1023"><p>Simple image hover effect with bottom left page curl displaying a single icon</p></f:case>
            <f:case value="1024"><p>Simple image hover effect displaying a caption with bottom right page curl revealing a single icon</p></f:case>
            <f:case value="1025"><p>image hover effect displaying a caption with bottom left page curl revealing a single icon</p></f:case>
            <f:case value="1026"><p></p></f:case>
            <f:case value="1027"><p></p></f:case>
            <f:case value="1028"><p></p></f:case>
            <f:case value="1029"><p></p></f:case>
        </f:switch>
    </div>
</f:section>

<f:section name="Main">
    {v:content.resources.fal(field: 'image') -> v:iterator.first() -> v:variable.set(name: 'image')}
<div class="snippets_cont">

    <f:switch expression="{effect}">
        <f:case value="1001">
            <figure class="snip0001">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon}"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1002">
            <figure class="snip0002">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon}"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1003">
            <figure class="snip0003">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320c"/>
                <div>
                    <f:if condition="{icon}"><a href="#"><i class="{icon}"></i></a></f:if>
                    <f:if condition="{icon2}"><a href="#"><i class="{icon2}"></i></a></f:if>
                    <f:if condition="{icon3}"><a href="#"><i class="{icon3}"></i></a></f:if>
                </div>
            </figure>
        </f:case>
        <f:case value="1004">
            <figure class="snip0004">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320c"/>
                <div>
                    <f:if condition="{icon}"><a href="#"><i class="{icon}"></i></a></f:if>
                    <f:if condition="{icon2}"><a href="#"><i class="{icon2}"></i></a></f:if>
                    <f:if condition="{icon3}"><a href="#"><i class="{icon3}"></i></a></f:if>
                </div>
            </figure>
        </f:case>
        <f:case value="1005">
            <figure class="snip0005">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320c"/>
                <div>
                    <f:if condition="{icon}"><a href="#"><i class="{icon}"></i></a></f:if>
                    <f:if condition="{icon2}"><a href="#"><i class="{icon2}"></i></a></f:if>
                    <f:if condition="{icon3}"><a href="#"><i class="{icon3}"></i></a></f:if>
                </div>
            </figure>
        </f:case>
        <f:case value="1006">
            <figure class="snip0006">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320c"/>
                <div>
                    <f:if condition="{icon}"><i class="{icon}"></i></f:if>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1007">
            <figure class="snip0007">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320c"/>
                <div>
                    <f:if condition="{icon}"><i class="{icon}"></i></f:if>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1008">
            <figure class="snip0008">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon}"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1009">
            <figure class="snip0009">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon}"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1010">
            <figure class="snip0010">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon}"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1011">
            <figure class="snip0011">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon}"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1012">
            <figure class="snip0012">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <div>
                    <a href="#"><i class="{icon} left-icon"></i></a>
                    <a href="#"><i class="{icon2} right-icon"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1013">
            <figure class="snip0013">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320m"/>
                <div>
                    <a href="#"><i class="{icon} left-icon"></i></a>
                    <a href="#"><i class="{icon2} right-icon"></i></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1014">
            <figure class="snip0014">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320m"/>
                <div>
                    <h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2>
                    <p>{text}</p>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1015">
            <figure class="snip0015">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" width="440c" height="320"/>
                <figcaption>
                    <h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2>
                    <p>{text}</p>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1016">
            <figure class="snip0016">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <figcaption>
                    <h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2>
                    <p>{text}</p>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1017">
            <figure class="snip0017">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <figcaption>
                    <h2><f:format.html>{title}</f:format.html></h2>
                    <p>{text}</p>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1018">
            <figure class="snip0018">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <figcaption>
                    <div><h2>{title}</h2></div>
                    <div><p>{text}</p></div>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1019">
            <figure class="snip0019">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <figcaption>
                    <div><h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2></div>
                    <div><p>{text}</p></div>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1020">
            <figure class="snip0020">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <figcaption>
                    <div><h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2></div>
                    <div>
                        <p>{text}</p>
                        <div class="curl"></div>
                    </div>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1021">
            <figure class="snip0021">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <figcaption>
                    <div><h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2></div>
                    <div>
                        <p>{text}</p>
                        <div class="curl"></div>
                    </div>
                    <a href="#"></a>
                </figcaption>
            </figure>
        </f:case>
        <f:case value="1022">
            <figure class="snip0022">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <div>
                    <i class="{icon}"></i>
                    <div class="curl"></div>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1023">
            <figure class="snip0023">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <div>
                    <i class="{icon}"></i>
                    <div class="curl"></div>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1024">
            <figure class="snip0024">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <div>
                    <h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2>
                    <i class="{icon}"></i>
                    <div class="curl"></div>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1025">
            <figure class="snip0025">
                <f:image treatIdAsReference="1" src="{image.id}" title="{title}" alt="{image.alternative}" crop="{image.crop}" width="440" height="320"/>
                <div>
                    <h2><f:format.html parseFuncTSPath="lib.parseFunc">{title}</f:format.html></h2>
                    <i class="{icon}"></i>
                    <div class="curl"></div>
                    <a href="#"></a>
                </div>
            </figure>
        </f:case>
        <f:case value="1026">

        </f:case>
        <f:case value="1027">

        </f:case>
        <f:case value="1028">

        </f:case>
        <f:case value="1029">

        </f:case>

        <f:case default="TRUE">
            Nothing to see...
        </f:case>
    </f:switch>

</div>

</f:section>