{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="well" label="Drake - Well">
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column name="content"/>
            </flux:grid.row>
        </flux:grid>

    </flux:form>
</f:section>

<f:section name="Preview">
    Well
</f:section>

<f:section name="Main">
    <div class="container well">
        <flux:content.render area="content" />
    </div>
</f:section>

